#calendar {
  box-shadow: 0 0.25rem 0.5rem #1a1a1d33;
  border: 1px solid #1a1a1d;
  border-radius: 0.25rem;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem;

  & > .header {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    & > button {
      all: unset;
      display: inline-block;
      padding: 0;
      border: none;
      background: transparent;
      cursor: pointer;
      height: 100%;

      & > img {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }

  & > .week {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }

  & > .days-of-week {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    & > .week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      row-gap: 0.5rem;
      justify-content: center;
      text-align: center;

      & > span {
        display: inline-block;
        width: 40px; /* Tamaño del día */
        height: 40px; /* Tamaño del día */
        line-height: 40px; /* Centrar texto verticalmente */
        text-align: center; /* Centrar texto horizontalmente */
        border-radius: 50%; /* Forma circular */
        transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Transición suave */

        &:hover {
          color: inherit;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          background-color: rgba(0, 0, 0, 0.05);
        }

        &.disabled {
          color: #c1c1c1;
          cursor: not-allowed;
        }

        &.current-date {
          border: 1px solid #387d9e;

          &:hover {
            box-shadow: 0 4px 8px rgba(56, 125, 158);
          }
        }

        &.selected {
          background-color: rgb(56, 125, 158);
          color: white;

          &:hover {
            color: white;
            box-shadow: 0 4px 8px rgb(56, 125, 158);
          }
        }
      }
    }
  }

  & > .buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
    padding-top: 0.5rem;

    & > button {
      border: 1px solid #e5e9ea;
      border-radius: 0.25rem;
      cursor: pointer;
      padding: 0.25rem 0.375rem;

      &.btn-cancel {
        background-color: white;

        &:hover {
          color: rgb(56, 125, 158);
          border: 1px solid rgb(56, 125, 158);
        }
      }

      &.btn-accept {
        background-color: #25a994;
        color: #fdfdfd;

        &:hover {
          background-color: rgb(56, 125, 158);
        }
      }
    }
  }
}
