#time {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;

  & > div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;

    & > button {
        border: none;
        background-color: inherit;
        cursor: pointer;
        & > img {
            width: 1.25rem;
            height: 1.25rem;
          }
    }
  }
}
